<?xml version="1.0" encoding="utf-8" ?>
<AppSettings xmlns:cm="urn:schemas-marykay-com:config">
  <add key="PartialView.EditAddress" value="_EditAddress.kz" />

  <add key="Feature.CustomerList.ShowConfirmationTimePickerInMilitaryTime" value="true" />

  <add key="Feature.EditCustomer.Gender"                  value="false" />
  <add key="Feature.EditCustomer.Spouse"                  value="false" />
  <add key="Feature.EditCustomer.PreferredShoppingMethod" value="false" />
  <add key="Feature.EditCustomer.PlaceOfWork"             value="false" />
  <add key="Feature.EditCustomer.PreferredContactDays"    value="false" />
  <add key="Feature.EditCustomer.EmailSubscriptions"      value="false" />
 
  <add key="Feature.ExactTarget.SuscriptionManagement" value="true" />
  <add key="Feature.ExactTarget.DoubleOptIn" value="true" />

  <add key="Feature.Orders.GiftMessage" value="false" />

  <add key="ImageMaxSize" value="4" />

  <add key="CookieDomain"	value=".marykayintouch.lt" />

  <!-- 
    the ISO 3166-1 two-letter region code that denotes the region that 
    we are expecting phone numbers to be entered in
    http://code.google.com/p/libphonenumber/
    -->
  <add key="Globalization.PhoneRegion" value="LT" />
  <add key="Globalization.CurrencyFormat" value="{0:n2} Lt" />
  <add key="Globalization.CurrencyFormatClient" value="{0:n2} Lt" />
  <add key="Globalization.CurrencySymbol" value="Lt" />
  <add key="Globalization.UICultures" value="lt-LT" />

  <add key="ProductCatalog.CatalogName" value="MaryKay_LT" />

  <add key="ProductCatalog.BaseImageUrl" cm:env="Local,Development" value="//esuite.lt.eurdev.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="QA"                value="//esuite.lt.eurqa.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="Staging"           value="//esuite.lt.eurstg.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="Production"        value="//beta.marykay.lt" />

  <add key="CustomerProfile.PreferredLanguages" value="lt-LT" />

  <!-- Questionnaire config -->
  <add key="QuestionnaireID" value="2ED9469E-CE36-44F3-A364-9CA949242BF9" />

  <!-- ========== Base url for profile questionnaire images ============ -->
  <add key="Questionnaire.ImageRootUrl" cm:env="Local,Development" value="//esuite.lt.eurint.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="QA"                value="//esuite.lt.eurqa.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Staging"           value="//esuite.lt.eurstg.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Production"        value="//beta.marykay.lt/" />

  <!-- ========== Facebook Settings ============ -->
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Local" value="http://localhost:8002/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Development" value="http://dev.esuite.marykayintouch.lt/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="QA" value="http://qa.esuite.marykayintouch.lt/myCustomers/customers/import" />" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Staging" value="http://staging.esuite.marykayintouch.lt/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Production" value="http://esuite.marykayintouch.lt/myCustomers/customers/import" />
 
  <!-- ========== VMO Settings ============= -->
  <add key="VMORoot" cm:env="Local,Development,QA,Staging" value="//marykay-stage.ai-media.com/makeover/index.jsp" />
  <add key="VMORoot" cm:env="Production"                   value="//makeover.marykay.com/makeover/index.jsp" />

  <add key="VMOPWSRoot" cm:env="Local,Development" value="esuite.lt.eurint.mktest.com/" />
  <add key="VMOPWSRoot" cm:env="QA"                value="esuite.lt.eurqa.mktest.com" />
  <add key="VMOPWSRoot" cm:env="Staging"           value="esuite.lt.eurstg.mktest.com" />
  <add key="VMOPWSRoot" cm:env="Production"        value="esuite.lt.eurdmz.com" />

  <add key="CustomerVMOProjectKey" value="15" />

  <!-- Use full urls for login because https is required in some cases -->
  <add key="InTouch.LoginUrl" cm:env="Development" value="http://dev.marykayintouch.lt/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="QA"          value="http://qa.marykayintouch.lt/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Staging"		 value="http://uat.marykayintouch.lt/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Production"	 value="https://www.marykayintouch.lt/login/login.aspx" />

  <add key="InTouch.BaseUrl"	cm:env="Local,Development" value="http://dev.marykayintouch.lt" />
  <add key="InTouch.BaseUrl"	cm:env="QA"                value="http://qa.marykayintouch.lt" />
  <add key="InTouch.BaseUrl"	cm:env="Staging"		       value="http://uat.marykayintouch.lt" />
  <add key="InTouch.BaseUrl"	cm:env="Production"	       value="http://www.marykayintouch.lt" />

  <add key="InTouch.Search"      value="/community/search/default.aspx" />
  <add key="InTouch.ShoppingBag" value="/onlineordering/templatelist.aspx" />
  <add key="InTouch.Profile"     value="/community/profile/password.aspx" />
  <add key="InTouch.Help"        value="/LT_Help.lt-LT.htm" />
  <add key="InTouch.SiteMap"     value="/community/pages/sitemap.aspx" />
  <add key="InTouch.Terms"       value="/community/pages/termsofuse.aspx" />
  <add key="InTouch.Contact"     value="/community/pages/contactus.aspx" />
  <add key="InTouch.FAQ"         value="/community/pages/faq_main.aspx" />
  <add key="InTouch.Logout"      value="/login/logout.aspx" />

  <add key="GMF.InTouchDomain" cm:env="Local,Development"  value="dev.marykayintouch.lt" />
  <add key="GMF.InTouchDomain" cm:env="QA"                 value="qa.marykayintouch.lt" />
  <add key="GMF.InTouchDomain" cm:env="Staging"            value="uat.marykayintouch.lt" />
  <add key="GMF.InTouchDomain" cm:env="Production"         value="www.marykayintouch.lt" />

  <add key="GMF.PWSDomain" cm:env="Local,Development"  value="dev.marykay.lt" />
  <add key="GMF.PWSDomain" cm:env="QA"                 value="qa.marykay.lt" />
  <add key="GMF.PWSDomain" cm:env="Staging"            value="staging.marykay.lt" />
  <add key="GMF.PWSDomain" cm:env="Production"         value="www.marykay.lt" />

  <add key="GMF.EmailContentDomain" value="ET_{0}_Cust" />
  <add key="GMF.OptInInviteContentId" value="CustomerOptInInvite.{0}" />
  <add key="GMF.InviteToRegisterContentId" value="InviteToRegister.{0}" />
  <add key="GMF.EmailCulture" value="lt-LT" />

  <!-- Exact Target -->
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="Local,Development" value="//pages.exacttarget.com/lt/customer/subscriptions_dev/" />
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="QA,Staging,Production" value="//pages.exacttarget.com/lt/customer/subscriptions/" />

  <add key="ExactTarget.CustomerPassPhrase" cm:env="Local,Development" value="n8n3icDW" />
  <add key="ExactTarget.CustomerPassPhrase" cm:env="QA,Staging,Production" value="185RvJ6l" />

  <!-- ========== invoice ============ -->
  <add key="Order_InvoiceReceipt_NumberFormatCulture" value="lt-LT" />
  <add key="InvoiceDateFormat" value="dd.MM.yyyy" />
  <add key="InvoiceCurrencySymbol" value="Lt" />
  <add key="SystemTimeZoneId" value="Central Asia Standard Time" />

  <add key="ShortDateFormat" value="dd.MM" />

  <!-- ========== Product Image Settings ============ -->
  <add key="ProductImageBaseUrl" cm:env="Local,Development" value="http://esuite.lt.eurdev.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="QA"                value="http://esuite.lt.eurqa.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Staging"           value="http://esuite.lt.eurstg.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Production"        value="http://beta.marykay.lt" />


  <!-- ========== Onmiture Settings ============= -->
  <add key="Omniture.EnvironmentDomain" cm:env="Local,Development,QA,Staging" value="marykaylithuaniacommunitydev" />
  <add key="Omniture.EnvironmentDomain" cm:env="Production" value="marykaylithuaniacommunity" />
  <add key="Omniture.Channel" value="mycustomers" />
  <!--Must be a valid ISO 4217 currency code.-->
  <add key="Omniture.CurrencyCode" value="LTL"/>

</AppSettings>