<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Parameter Name="nettax" Value="nettax.mkdev.com" Region="US" Environment="Local" />
  <Parameter Name="nettax" Value="nettax.mkdev.com" Region="US" Environment="Development" />
  <Parameter Name="nettax" Value="nettax.mkdev.com" Region="US" Environment="QA" />
  <Parameter Name="nettax" Value="nettax.stgdmz.com" Region="US" Environment="Staging" />
  <Parameter Name="nettax" Value="nettax.usadmz.com" Region="US" Environment="Production" />

  <Parameter Name="netcc" Value="netcc.mkdev.com" Region="US" Environment="Local" />
  <Parameter Name="netcc" Value="netcc.mkdev.com" Region="US" Environment="Development" />
  <Parameter Name="netcc" Value="netcc.mkdev.com" Region="US" Environment="QA" />
  <Parameter Name="netcc" Value="netcc.stgdmz.com" Region="US" Environment="Staging" />
  <Parameter Name="netcc" Value="netcc.usadmz.com" Region="US" Environment="Production" />

  <Endpoint
		Name="Code1Service"
		Address="http://{nettax}/Code1Service/Code1Service.asmx"
		Binding="System.ServiceModel.BasicHttpBinding, System.ServiceModel"
		Contract="myCustomers.Services.NetTax.ICode1Service, myCustomers"
	/>

  <Endpoint
		Name="MkUnavailableParts"
		Address="http://{nettax}/mkunavailableparts/mkunavailableparts.asmx"
		Binding="myCustomers.Services.Inventory.MkUnavailablePartsBinding, myCustomers"
		Contract="myCustomers.Services.Inventory.IMkUnavailableParts, myCustomers"
	/>

  <Endpoint
		Name="CCProcessing"
		Address="http://{netcc}/ebizcreditcardservices/ccprocessing.asmx"
		Binding="System.ServiceModel.BasicHttpBinding, System.ServiceModel"
		Contract="myCustomers.Services.NetCC.ICCProcessing, myCustomers"
	/>
</Config>