<?xml version="1.0" encoding="utf-8" ?>
<AppSettings xmlns:cm="urn:schemas-marykay-com:config">
  
  <!-- Features -->
  <add key="Feature.InTouch.Search"                                          value="true" />
  <add key="Feature.InTouch.ShoppingBag"                                     value="true" />
  <add key="Feature.InTouch.Help"                                            value="true" />
  <add key="Feature.InTouch.Profile"                                         value="true" />
  <add key="Feature.Footer.Links"                                            value="true" />
  <add key="Feature.InTouch.Reports"                                         value="true"  />
  <add key="Feature.InTouch.Home"                                            value="true"  />

  <add key="Feature.Tasks.CustomerSampleFilter"                              value="true" />
  
  <add key="Feature.OrderList.SampleRequest"                                 value="true" />
  <add key="Feature.OrderList.Delete"                                        value="true" />

  <add key="Feature.CustomerList.Rolodex"                                    value="true" />
  <add key="Feature.CustomerList.Groups"                                     value="true" />
  <add key="Feature.CustomerList.ShowConfirmationTimePickerInMilitaryTime"   value="false" />
  <add key="Feature.CustomerList.Delete"                                     value="true" />
  <add key="Feature.CustomerDetail.Delete"                                   value="true" />

  <add key="Feature.ImportCustomers.Subscriptions"                           value="true" />

  <add key="Feature.Orders.VerifyAddress"                                    value="true" />
  <add key="Feature.Orders.CDS"                                              value="true" />
  <add key="Feature.Orders.GWP"                                              value="true" />
  <add key="Feature.Orders.GiftMessage"                                      value="true" />

  <add key="Feature.Payment.CreditCard"                                      value="true" />

  <add key="Feature.EditCustomer.Gender"                                     value="true" />
  <add key="Feature.EditCustomer.Spouse"                                     value="true" />
  <add key="Feature.EditCustomer.PreferredShoppingMethod"                    value="true" />
  <add key="Feature.EditCustomer.PlaceOfWork"                                value="true" />
  <add key="Feature.EditCustomer.PreferredContactDays"                       value="true" />
  <add key="Feature.EditCustomer.EmailSubscriptions"                         value="true" />
  
  <add key="Feature.ExactTarget.SuscriptionManagement"                       value="false" />
  <add key="Feature.ExactTarget.DoubleOptIn"                                 value="false" />

  <add key="Feature.SocialNetworks.Other"                                    value="true" />
  <add key="Feature.SocialNetworks.Facebook"                                 value="true" />
  <add key="Feature.SocialNetworks.Twitter"                                  value="true" />
  <add key="Feature.SocialNetworks.VK"                                       value="false" />

  <add key="Feature.ECards" value="true" />

  <add key="ProPay.TransactionDetailsLink" value="https://xmltest.propay.com/myaccount/reports/transactiondetail.aspx?TransId={0}" cm:env="Local,Development,QA,Staging" />
  <add key="ProPay.TransactionDetailsLink" value="https://www.propay.com/myaccount/reports/transactiondetail.aspx?TransId={0}" cm:env="Production" />
  <add key="ProPay.SignupLink" value="http://applications.marykayintouch.com/OnlineOrdering/ProPay/Signup.aspx" />
       
  <add key="CookieDomain"	value=".marykayintouch.com" />

  <add key="Validation.AddressVerificationService" value="myCustomers.Services.NetTax.Code1AddressVerificationService, myCustomers" />
  <add key="Payment.CreditCardService" value="myCustomers.Services.NetCC.ProPayCreditCardService, myCustomers" />
  <add key="Inventory.MkUnavailablePartsService" value="myCustomers.Services.Inventory.MkUnavailablePartsService, myCustomers" />

  <!-- Exact Target -->
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="Local,Development" value="//pages.exacttarget.com/us/customer/subscriptions_dev/" />
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="QA,Staging,Production" value="//pages.exacttarget.com/us/customer/subscriptions/" />
  <add key="ExactTarget.CustomerPassPhrase" cm:env="Local,Development" value="O6U1j173" />
  <add key="ExactTarget.CustomerPassPhrase" cm:env="QA, Staging,Production" value="P71T7p4u" />

  <!-- Express Checkout Settings -->
  <add key="CDS.CookieDomain"	value=".marykayintouch.com" />
  
  <add key="CDS.BaseCheckoutUrl" value="https://dev.applications.marykayintouch.com" cm:env="Local,Development" />
  <add key="CDS.BaseCheckoutUrl" value="https://qa.applications.marykayintouch.com" cm:env="QA" />
  <add key="CDS.BaseCheckoutUrl" value="https://staging.applications.marykayintouch.com" cm:env="Staging" />
  <add key="CDS.BaseCheckoutUrl" value="https://applications.marykayintouch.com" cm:env="Production" />

  <add key="CDS.BaseReturnUrl" value="http://localhost:8002" cm:env="Local" />
  <add key="CDS.BaseReturnUrl" value="http://dev.esuite.marykayintouch.com" cm:env="Development" />
  <add key="CDS.BaseReturnUrl" value="http://qa.esuite.marykayintouch.com" cm:env="QA" />
  <add key="CDS.BaseReturnUrl" value="http://staging.esuite.marykayintouch.com" cm:env="Staging" />
  <add key="CDS.BaseReturnUrl" value="http://esuite.marykayintouch.com" cm:env="Production" />

  <add key="CDS.HandshakeUrl" value="/expresscheckout/cds/handshake.aspx" />
  <add key="CDS.ReviewUrl"    value="/expresscheckout/cds/revieworder.aspx" />
  <add key="CDS.DetailUrl"    value="/mybusiness/orderstatus/orderdetail.aspx?orderid={0}" />

  <!-- 
    the ISO 3166-1 two-letter region code that denotes the region that 
    we are expecting phone numbers to be entered in
    http://code.google.com/p/libphonenumber/
    -->
  <add key="Globalization.PhoneRegion" value="US" />
  <add key="Globalization.CurrencyFormat" value="${0:n2}" />
  <add key="Globalization.CurrencyFormatClient" value="${0:n2}" />
  <add key="Globalization.UICultures" value="en-US,es-MX" />
  <add key="Globalization.CurrencySymbol" value="$" />
  <add key="ShortDateFormat" value="MM/dd" />

  <add key="ProductCatalog.CatalogName" value="MaryKay_US" />
  <add key="ProductCatalog.PageSize" value="10" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="Local,Development,QA" value="//esuite.us.usaqa.mktest.com" />
	<add key="ProductCatalog.BaseImageUrl" cm:env="Staging"              value="//esuite.us.usastg.mktest.com" />
	<add key="ProductCatalog.BaseImageUrl" cm:env="Production"           value="//www.marykay.com" />

  <add key="CustomerProfile.PreferredLanguages" value="en-US,es-US" />
  
  <!-- Use full urls for login because https is required in some cases -->
  <add key="InTouch.LoginUrl" cm:env="Development"  value="http://dev.applications.marykayintouch.com/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="QA"           value="http://qa.applications.marykayintouch.com/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Staging"		  value="https://staging.applications.marykayintouch.com/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Production"	  value="https://applications.marykayintouch.com/login/login.aspx" />

  <add key="InTouch.BaseUrl" cm:env="Local,Development" value="//dev.applications.marykayintouch.com" />
  <add key="InTouch.BaseUrl" cm:env="QA"                value="//qa.applications.marykayintouch.com" />
  <add key="InTouch.BaseUrl" cm:env="Staging"		        value="//staging.applications.marykayintouch.com" />
	<add key="InTouch.BaseUrl" cm:env="Production"	      value="//applications.marykayintouch.com" />

  <add key="InTouch.Search"      value="/community/search/default.aspx" />
	<add key="InTouch.ShoppingBag" value="/onlineordering/templatelist.aspx" />
	<add key="InTouch.Profile"     value="/community/profile/password.aspx" />
	<add key="InTouch.Help"        value="/community/education/onlinehelp.aspx" />
	<add key="InTouch.SiteMap"     value="/community/pages/sitemap.aspx" />
	<add key="InTouch.Terms"       value="/community/pages/termsofuse.aspx" />
	<add key="InTouch.Contact"     value="/community/pages/contactus.aspx" />
	<add key="InTouch.FAQ"         value="/community/faq/faq_main.aspx" />
  <add key="InTouch.Reports"     value="/Reports2/Report.aspx?Path=/Customer_Information/CustomerBirthday" />
  <add key="InTouch.Logout"      value="/login/logout.aspx" />

	<add key="GMF.InTouchDomain" cm:env="Local,Development"  value="dev.applications.marykayintouch.com" />
	<add key="GMF.InTouchDomain" cm:env="QA"                 value="qa.applications.marykayintouch.com" />
	<add key="GMF.InTouchDomain" cm:env="Staging"            value="staging.applications.marykayintouch.com" />
	<add key="GMF.InTouchDomain" cm:env="Production"         value="applications.marykayintouch.com" />

	<add key="GMF.PWSDomain" cm:env="Local,Development"  value="dev.marykay.com" />
	<add key="GMF.PWSDomain" cm:env="QA"                 value="qa.marykay.com" />
	<add key="GMF.PWSDomain" cm:env="Staging"            value="staging.marykay.com" />
	<add key="GMF.PWSDomain" cm:env="Production"         value="www.marykay.com" />

  <!-- ========== Landing Page Urls ============= -->
	<add key="Landing_HowToUseUrl" cm:env="Local,Development,QA" value="//content2.dev.marykayintouch.com/Content/Resources/DigitalZoneNew/eSuiteTutorial/phase_2/my-social-tools.html" />
	<add key="Landing_HowToUseUrl" cm:env="Staging"		           value="//content2.staging.marykayintouch.com/Content/Resources/DigitalZoneNew/eSuiteTutorial/phase_2/my-social-tools.html" />
	<add key="Landing_HowToUseUrl" cm:env="Production"           value="//content2.marykayintouch.com/Content/Resources/DigitalZoneNew/eSuiteTutorial/phase_2/my-social-tools.html" />

  <add key="Landing_FAQsUrl" cm:env="Local,Development" value="//dev.applications.marykayintouch.com/Community/Pages/ContentC.aspx?url=http%3a%2f%2fcontent2.dev.marykayintouch.com%2fContent%2fFAQs%2fPWS.html" />
  <add key="Landing_FAQsUrl" cm:env="QA"                value="//qa.applications.marykayintouch.com/Community/Pages/ContentC.aspx?url=http%3a%2f%2fcontent2.qa.marykayintouch.com%2fContent%2fFAQs%2fPWS.html" />
  <add key="Landing_FAQsUrl" cm:env="Staging"		        value="//staging.applications.marykayintouch.com/Community/Pages/ContentC.aspx?url=http%3a%2f%2fcontent2.staging.marykayintouch.com%2fContent%2fFAQs%2fPWS.html" />
	<add key="Landing_FAQsUrl" cm:env="Production"	      value="//applications.marykayintouch.com/Community/Pages/ContentC.aspx?url=http%3a%2f%2fcontent2.marykayintouch.com%2fContent%2fFAQs%2fPWS.html" />

	<!-- ========== Hostess Events URL ============ -->
  <add key="HostessEventsUrl" cm:env="Local,Development" value="//dev.applications.marykayintouch.com/hostessevents2/" />
  <add key="HostessEventsUrl" cm:env="QA"                value="//qa.applications.marykayintouch.com/hostessevents2/" />
  <add key="HostessEventsUrl" cm:env="Staging"           value="//staging.applications.marykayintouch.com/hostessevents2/" />
	<add key="HostessEventsUrl" cm:env="Production"        value="//applications.marykayintouch.com/hostessevents2/" />

  <!-- Questionnaire config -->
  <add key="QuestionnaireID" value="DBE52330-A858-4258-8124-F4EC223A088F" />
  
  <!-- ========== Base url for profile questionnaire images ============ -->
  <add key="Questionnaire.ImageRootUrl" cm:env="Local,Development" value="//esuite.us.usaint.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="QA"                value="//esuite.us.usaqa.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Staging"           value="//esuite.us.usastg.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Production"        value="//www.marykay.com/" />

  <!-- ========== Facebook Settings ============ -->
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Local" value="http://localhost:8002/myCustomersPilot/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Development" value="http://dev.esuite.marykayintouch.com/myCustomersPilot/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="QA" value="http://qa.esuite.marykayintouch.com/myCustomersPilot/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Staging" value="http://staging.esuite.marykayintouch.com/myCustomersPilot/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Production" value="http://esuite.marykayintouch.com/myCustomersPilot/customers/import" />

  <!-- ========== VMO Settings ============= -->
  <add key="VMORoot" cm:env="Local,Development,QA,Staging" value="//makeover.staging.marykay.com/makeover/index.jsp" />
  <add key="VMORoot" cm:env="Production" value="//makeover.marykay.com/makeover/index.jsp" />

  <add key="VMOPWSRoot" cm:env="Local,Development" value="esuite.us.usaint.mktest.com/" />
  <add key="VMOPWSRoot" cm:env="QA"                value="esuite.us.usaqa.mktest.com/" />
  <add key="VMOPWSRoot" cm:env="Staging"           value="esuite.us.usastg.mktest.com/" />
  <add key="VMOPWSRoot" cm:env="Production"        value="www.marykay.com" />
  <add key="CustomerVMOProjectKey" value="3" />

  <!-- ========== Product Image Settings ============ -->
  <add key="ProductImageBaseUrl" cm:env="Local"       value="http://esuite.us.usaqa.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Development" value="http://esuite.us.usaqa.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="QA"          value="http://esuite.us.usaqa.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Staging"     value="http://esuite.staging.marykay.com" />
  <add key="ProductImageBaseUrl" cm:env="Production"  value="http://www.marykay.com" />


  <!-- ========== Onmiture Settings ============= -->
  <add key="Omniture.EnvironmentDomain" cm:env="Local,Development,QA,Staging" value="marykayintouchdev" />
  <add key="Omniture.EnvironmentDomain" cm:env="Production" value="marykayintouchprod" />
  <add key="Omniture.Channel" value="mycustomers" />
  <!--Must be a valid ISO 4217 currency code.-->
  <add key="Omniture.CurrencyCode" value="USD"/>

  <add key="eCards.CookieDomain" value=".marykayintouch.com" />
  <add key="eCards.BaseUrl" cm:env="Development" value="http://dev.applications.marykayintouch.com/Messaging2/services/" />
  <add key="eCards.BaseUrl" cm:env="QA"          value="http://qa.applications.marykayintouch.com/Messaging2/services/" />
  <add key="eCards.BaseUrl" cm:env="Staging"     value="http://staging.applications.marykayintouch.com/Messaging2/services/" />
  <add key="eCards.BaseUrl" cm:env="Production"  value="http://applications.marykayintouch.com/Messaging2/services/" />
  <add key="eCards.PostUrl" value="ecards" />

  <add key="eCards.ContentId" value="EC3017" />
</AppSettings>