<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.ElasticSearch" />
  </extensions>
  
  <targets>
    <target name="trace" xsi:type="Trace" />
    <target name="eventlog" xsi:type="EventLog" source="myCustomers" layout="${logger}|${message}|${exception:format=tostring}" />
    <target name="elasticsearch" xsi:type="ElasticSearch" url="${appSetting:key=Log.Url:suffix=Environment}/${guid:format=D}">
      <!-- NOTE: you can set the expiry like this: "_ttl" : "10s". The default is 45 days -->
      <layout>
        {
        "applicationName" : "myCustomers",
        "environment"     : "${appSetting:key=Environment}",
        "region"          : "${appSetting:key=Region}",
        "subsidiary"      : "${appSetting:key=Subsidiary}",
        "machineName"     : "${machineName:upperCase=true:jsonEncode=true}",
        "pid"             : ${processId},
        "userName"        : "${aspnet-user-identity:jsonEncode=true}",
        "sessionID"       : "${aspnet-request:cookie=ASP.NET_SessionId:jsonEncode=true}",
        "clientIP"        : "${aspnet-request:serverVariable=REMOTE_ADDR:jsonEncode=true}",
        "userAgent"       : "${aspnet-request:serverVariable=HTTP_USER_AGENT:jsonEncode=true}",
        "referrer"        : "${aspnet-request:serverVariable=HTTP_REFERER:jsonEncode=true}",
        "level"           : "${level}",
        "source"          : "${logger:jsonEncode=true}",
        "message"         : "${message:jsonEncode=true}",
        "exception"       : "${exception:format=toString:jsonEncode=true}",
        "timestamp"       : "${date:universalTime=true:format=o}"
        }
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="trace,eventlog,elasticsearch" />
  </rules>
</nlog>