<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="UseFriendlyErrorPage" value="true" />
    <add key="EnableCDN" value="true" />

    <add key="Environment" value="Development" />
    <add key="Region" value="EU" />
    <add key="Subsidiary" value="NL" />
    <add key="ClientKey" value="MYCUSTOMERS" />

    <add key="Log.Url.Development"  value="http://logs.esuite.services.int.mktest.com/log/event" />
    <add key="Log.Url.QA"           value="http://logs.esuite.services.qa.mktest.com/log/event" />
    <add key="Log.Url.Staging"      value="http://logs.esuite.services.stg.mktest.com/log/event" />
    <add key="Log.Url.Production"   value="http://logs.esuite.services.usadmz.com/log/event" />
  </appSettings>
  
  <connectionStrings>
    <clear />
  </connectionStrings>
  
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True" proxyaddress="http://ddcproxyfwc.mkcorp.com" />
      <bypasslist>
        <add address="^.+\.mktest\.com(:\d+)?$" />
        <add address="^.+\.mkdev\.com(:\d+)?$" />
        <add address="^.+\.stgdmz\.com(:\d+)?$" />
        <add address="^.+\.usadmz\.com(:\d+)?$" />
        <add address="^.+\.eurdmz\.com(:\d+)?$" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <machineKey validationKey="E38F13C3D2EF78745CEE069A4D440107340B147033BC5BEC7F422F0F0177D260390523A4E926ABE4A0977FED3D6705EE425D246592356D0B19A5AC31BD1D19F6" decryptionKey="5A7268A798FB21B8F77ABA2458130B719EE64C7244BBABA9" validation="SHA1" decryption="3DES" />
    
    <customErrors mode="RemoteOnly">
      <error statusCode="500" redirect="~/error/unknown" />
      <error statusCode="404" redirect="~/error/notfound" />
    </customErrors>
    
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" />
    </authentication>
    
    <roleManager enabled="false">
      <providers>
        <clear />
      </providers>
    </roleManager>
    
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  
  <system.webServer>
    <staticContent>
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />

      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- Remove rewrite module which has an issue with Url.Content() on IIS 7.5 -->
      <!-- See this stackoverflow: http://stackoverflow.com/questions/8640950/null-reference-exception-when-generating-a-url-with-urlhelper-action-method -->
      <remove name="RewriteModule" />
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  
  <system.diagnostics>
    <assert assertuienabled="false" />
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PlainElastic.Net" publicKeyToken="0930e76dfc03b7ac" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.42.0" newVersion="1.0.42.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.13.0" newVersion="2.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>