<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!-- Development -->
  <Parameter Environment="Development" Name="host" Value="gmf.services.eurdev.mktest.com" Region="EU" />
  <Parameter Environment="Development" Name="host" Value="webservices.mkdev.com" Region="US" />
  <Parameter Environment="Development" Name="host" Value="webservices.mkdev.com" Region="AM" />

  <!-- QA -->
  <Parameter Environment="QA" Name="host" Value="gmf.services.eurqa.mktest.com" Region="EU" />
  <Parameter Environment="QA" Name="host" Value="webservices.mkdev.com" Region="US" />
  <Parameter Environment="QA" Name="host" Value="webservices.mkdev.com" Region="AM" />

  <!-- Staging -->
  <Parameter Environment="Staging" Name="host" Value="gmf.services.eurstg.mktest.com" Region="EU" />
  <Parameter Environment="Staging" Name="host" Value="webservices.stgdmz.com" Region="US" />
  <Parameter Environment="Staging" Name="host" Value="webservices.stgdmz.com" Region="AM" />

  <!-- Production -->
  <Parameter Environment="Production" Name="host" Value="gmf.services.eurdmz.com" Region="EU" />
  <Parameter Environment="Production" Name="host" Value="webservices.usadmz.com" Region="US" />
  <Parameter Environment="Production" Name="host" Value="webservices.usadmz.com" Region="AM" />

  <Endpoint
		Name="SendMailService"
		Address="http://{host}/globalemailservice/sendmail.asmx"
		Binding="GMF.Client.Bindings.DefaultBinding, GMF.Client"
		Contract="GMF.Client.ISendMailService, GMF.Client"
	/>
</Config>