<?xml version="1.0" encoding="utf-8" ?>
<AppSettings xmlns:cm="urn:schemas-marykay-com:config">
  <!-- Partial views that can be overridden in market specific configs -->
  <add key="PartialView.EditAddress" value="_EditAddress" />
  
  <add key="PartialView.DisplayAddress_Razor" value="_DisplayAddress_Razor" />
  <add key="PartialView.DisplayAddress_KO" value="_DisplayAddress_KO" />  
  
  <!-- Features -->
  <add key="Feature.MockLogin" value="false" />
  <add key="Feature.MockLogin" value="true" cm:env="Local,Development" />

  <add key="Feature.Footer.Links" value="false" />

  <add key="Feature.InTouch.Search"      value="false" />
  <add key="Feature.InTouch.ShoppingBag" value="false" />
  <add key="Feature.InTouch.Profile"     value="false" />
  <add key="Feature.InTouch.Reports"     value="false"  />
  <add key="Feature.InTouch.Home"        value="false"  />
  <add key="Feature.InTouch.Help"        value="true"  />
  <add key="Feature.Local.Help"          value="false"  />

  <add key="Feature.Orders.ConfirmationEmail" value="true" />
  <add key="Feature.Orders.CDS"               value="false" />
  <add key="Feature.Orders.GWP"               value="false" />
  <add key="Feature.Orders.VerifyAddress"     value="false" />
  <add key="Feature.Orders.GiftMessage"       value="false" />
  <add key="Feature.OrderList.Delete"         value="true" />

  <add key="Feature.Payment.CreditCard" value="false" />

  <add key="Feature.AcceptTerms"               value="true" />
  <add key="Feature.AcceptTerms.DisclaimerKey" value="myCustomers_r1.8" />

  <add key="Feature.CustomerList.ShowCountryCodeWithAddress"                 value="true" />
  <add key="Feature.CustomerList.ShowConfirmationTimePickerInMilitaryTime"   value="false" />
  <add key="Feature.CustomerList.Rolodex"                                    value="false" />
  <add key="Feature.CustomerList.Groups"                                     value="false" />
  <add key="Feature.CustomerList.Delete"                                     value="true" />
  <add key="Feature.CustomerDetail.Delete"                                   value="true" />

  <add key="Feature.UseMailtoLinks"                              value="false" />

  <add key="Feature.OrderList.SampleRequest"       value="false" />

  <add key="Feature.EditCustomer.Gender"                  value="true" />
  <add key="Feature.EditCustomer.Spouse"                  value="true" />
  <add key="Feature.EditCustomer.PreferredShoppingMethod" value="true" />
  <add key="Feature.EditCustomer.PlaceOfWork"             value="true" />
  <add key="Feature.EditCustomer.PreferredContactDays"    value="true" />
  <add key="Feature.EditCustomer.EmailSubscriptions"      value="false" />

  <add key="Feature.ImportCustomers.Subscriptions" value="false" />

  <add key="Feature.ExactTarget.SuscriptionManagement" value="false" />
  <add key="Feature.ExactTarget.DoubleOptIn" value="false" />

  <add key="Feature.Tasks.CustomerSampleFilter" value="false" />

  <add key="Feature.Search.Persistence" value="false" />

  <add key="Feature.Orders.PRR" value="true" />
  
  <add key="Feature.ShowRegionWithAddress" value="true" />

  <add key="Feature.ECards" value="false" />

  <add key="ProductCatalog.PageSize" value="5" />

  <add key="Validation.AddressVerificationService" value="myCustomers.Services.NullAddressVerificationService, myCustomers" />
  <add key="Payment.CreditCardService" value="myCustomers.Services.NullCreditCardService, myCustomers" />
  <add key="Inventory.MkUnavailablePartsService" value="myCustomers.Services.NullInventoryService, myCustomers" />

  <add key="ProductCatalog.DefaultImageUrl" value="~/content/images/product_noimage.png" />
  <add key="ProductCatalog.MinExpirationDateUtc.YearOffset" value="-1" />

  <add key="ProfileImage.MaxFileSizeInMB" value="4" />
  <add key="ProfileImage.MaxWidth" value="480" />
  <add key="ProfileImage.MaxHeight" value="640" />

  <!-- InTouch -->
  <add key="InTouch.BaseUrl" cm:env="Local,Development,QA" value="//dev.applications.marykayintouch.com" />
  <add key="InTouch.BaseUrl" cm:env="Staging"		           value="//staging.applications.marykayintouch.com" />
  <add key="InTouch.BaseUrl" cm:env="Production"	         value="//applications.marykayintouch.com" />
  
  <!-- Logout actions -->
  <add key="Logout.Action" cm:env="Local,Development,QA" value="Logout" />
  <add key="Logout.Action" cm:env="Staging,Production"	 value="InTouchLogout" />

  <!-- ========== Reminders Link Urls ============= -->
  <add key="TaskItemDefault_TargetUrl"			 value="javascript:void(0);" />
  <add key="TaskItemHostessEvents_TargetUrl" value="manageevents/default.aspx" />
  <add key="TaskItemOpenOrder_TargetUrl"		 value="orders/detail/{0}" />
  <add key="TaskItemProfile_TargetUrl"			 value="customers/detail/" />
  <add key="TaskItemSampleRequest_TargetUrl" value="samplerequests/detail/{0}" />

  <!-- ========== Reminders Settings ============= -->
  <add key="RemindersCount" value="2" />
  
  <!-- ========== Facebook Settings ============ -->
  <add key="FacebookInTouchApplicationID"		  value="338948576129277" />
  <add key="FacebookInTouchApplicationSecret"	value="ed5e046587422d1fb209ef918787f657" />  
  <add key="FacebookProxyCredentialAccount"		value="" />
  <add key="FacebookProxyCredentialPassword"	value="" />
  <add key="FacebookProxyCredentialDomain"		value="" />

  <!-- ========== invoice ============ -->
  <add key="Order_InvoiceReceipt_FormulaShadeComponentSeparator" value="," />
  <add key="Order_InvoiceReceipt_InlineAddressComponentSeparator" value="," />
  <add key="Order_InvoiceReceipt_NumberFormatCulture" value="en-US" />
  <add key="ConsultantNameFormat" value="{0} {1}" />
  <add key="CustomerNameSortFormat" value="{2}, {0}" />
  <add key="SystemTimeZoneId" value="Central Standard Time" />
  <add key="NameDisplayFormat" value="{0} {2}" />
  <add key="InvoiceCurrencySymbol" value="$" />
  <add key="FormattedLocale_StreetUnitNumber" value="{0} {1}" />
  <add key="FormattedLocale_CityRegionPostalCode" value="{0}, {1} {2}" />
  <add key="FormattedLocale_CityRegion" value="{0}, {1}" />
  <add key="FormattedLocale_CityPostalCode" value="{0} {1}" />
  <add key="FormattedLocale_RegionPostalCode" value="{0} {1}" />
  <add key="InvoiceDateFormat" value="MM/dd/yyyy" />

  <!-- ========== label ============ -->
  <add key="MailingLabelNameFormat" value="{0} {1}" />
  <add key="PrintLabelFontSize" value="0" />

  <!-- ========== Dashboard Counts ============ -->
  <add key="MaxDueDateDays" value="7"/>
  <add key="MinDueDateMonths" value="-3" />
 
  <!-- Exact Target -->
  <add key="ExactTarget.SubscriberKeyEnvironment" cm:env="Local,Development" value="D" />
  <add key="ExactTarget.SubscriberKeyEnvironment" cm:env="QA" value="Q" />
  <add key="ExactTarget.SubscriberKeyEnvironment" cm:env="Staging" value="S" />
  <add key="ExactTarget.SubscriberKeyEnvironment" cm:env="Production" value="P" />

  <!-- ================== PWS Subscription Attribute Settings ==================-->
  <add key="PwsSubscription_AttributeKey_FreeShipping" value="9248828E-18CA-4E95-8862-B2CFAE44024C" />

  <!-- ========== Add/Edit Customer Settings ============= -->  
  <add key="ImageMaxSize" value="4" />

  <!-- ========== GMF Email Settings ============= -->
  <add key="GMF.EmailContentDomain" value="ET_{0}_Cust" />
  <add key="GMF.ConfirmationEmailContentId" value="CustomerOrderReceipt.{0}" />
  <add key="GMF.OptInInviteContentId" value="CustomerOptInInvite.{0}" />
  <add key="GMF.InviteToRegisterContentId" value="InviteToRegister.{0}" />
  <add key="GMF.EmailCulture" value="en-US" />
  
  <!-- ========== Reminders ========== -->
  <add key="TaskNameFormat" value="{0} {1}" />

  <!-- ========== Notes ========== -->
  <add key="Globalization.FormatFullDayMonthDate" value="dddd, MMMM d" />

</AppSettings>