<?xml version="1.0" encoding="utf-8" ?>
<Document PageSize="A4"
          Border="NO_BORDER" 
          WidthPercentage="100"
          LeftMargin="8" 
          RightMargin="13" 
          TopMargin="75" 
          BottomMargin="0"
          HorizontalLabelCount="3"
          VerticalLabelCount="10" 
          PaddingLeft="15"
          HorizontalAlign="ALIGN_LEFT"
          VerticalAlign="ALIGN_MIDDLE"
          MinimumHeight="72"
          LabelWidth="32"
          GutterWidth="2" 
          MaximumTextWidth="175" >
</Document>
