<?xml version="1.0" encoding="utf-8" ?>
<MockLogin>
	<Subsidiary Region="US" SubsidiaryCode="US" Culture="en-US" DefaultUICulture="en-US" UICultures="en-US,es-MX" TestAccounts="CM0000,CP0000,A00023,PH4941,H85619" />
	<!--<Subsidiary Region="RU" SubsidiaryCode="RU" Culture="ru-RU" DefaultUICulture="ru-RU" UICultures="ru-RU, en-US" />
	<Subsidiary Region="CA" SubsidiaryCode="CA" Culture="en-CA" DefaultUICulture="en-CA" UICultures="en-CA,fr-CA,zh-CN" />
	<Subsidiary Region="CN" SubsidiaryCode="CN" Culture="en-US" DefaultUICulture="en-US" UICultures="zh-CN,en-US"  />

  <Subsidiary Region="LA" SubsidiaryCode="AR" Culture="es-AR" DefaultUICulture="en-US" UICultures="es-AR,en-US"  />
	<Subsidiary Region="LA" SubsidiaryCode="BR" Culture="pt-BR" DefaultUICulture="en-US" UICultures="pt-BR,en-US"  />
	<Subsidiary Region="LA" SubsidiaryCode="MX" Culture="es-MX" DefaultUICulture="en-US" UICultures="es-MX,en-US" />-->
  
	<Subsidiary Region="EU" SubsidiaryCode="AM" Culture="hy-AM" DefaultUICulture="en-US" UICultures="en-US,hy-AM,ru-RU" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="CH" Culture="de-CH" DefaultUICulture="en-US" UICultures="en-US,de-CH" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="DE" Culture="de-DE" DefaultUICulture="en-US" UICultures="en-US,de-DE" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="EU" SubsidiaryCode="CZ" Culture="cs-CZ" DefaultUICulture="en-US" UICultures="en-US,cs-CZ" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="ES" Culture="es-ES" DefaultUICulture="en-US" UICultures="en-US,es-ES" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="KZ" Culture="kk-KZ" DefaultUICulture="en-US" UICultures="en-US,kk-KZ,ru-KZ" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="EU" SubsidiaryCode="LT" Culture="lt-LT" DefaultUICulture="en-US" UICultures="en-US,lt-LT" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="MD" Culture="ro-RO" DefaultUICulture="en-US" UICultures="en-US,ro-RO" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="NL" Culture="nl-NL" DefaultUICulture="en-US" UICultures="en-US,nl-NL" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="PL" Culture="pl-PL" DefaultUICulture="en-US" UICultures="en-US,pl-PL" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="PT" Culture="pt-PT" DefaultUICulture="en-US" UICultures="en-US,pt-PT" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="RU" Culture="ru-RU" DefaultUICulture="en-US" UICultures="en-US,ru-RU" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="SK" Culture="sk-SK" DefaultUICulture="en-US" UICultures="en-US,sk-SK" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="UA" Culture="uk-UA" DefaultUICulture="en-US" UICultures="en-US,ru-RU,uk-UA" TestAccounts="*00500,*00503,*00506"/>
  <Subsidiary Region="EU" SubsidiaryCode="UK" Culture="en-GB" DefaultUICulture="en-GB" UICultures="en-GB" TestAccounts="*00500,*00503,*00506"/>

  <Subsidiary Region="AM" SubsidiaryCode="MX" Culture="es-MX" DefaultUICulture="en-US" UICultures="en-US,es-MX" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="AM" SubsidiaryCode="AR" Culture="es-MX" DefaultUICulture="en-US" UICultures="en-US,es-AR" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="AM" SubsidiaryCode="BR" Culture="es-MX" DefaultUICulture="en-US" UICultures="en-US,pt-BR" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="AM" SubsidiaryCode="UY" Culture="es-MX" DefaultUICulture="en-US" UICultures="en-US,es-UY" TestAccounts="*00500,*00503,*00506" />
  <Subsidiary Region="AM" SubsidiaryCode="CA" Culture="es-MX" DefaultUICulture="en-CA" UICultures="en-CA,fr-CA,zh-CN" TestAccounts="*00500,*00503,*00506" />
</MockLogin>