<ListItems xmlns:cm="urn:schemas-marykay-com:config-manager-2">	
	<ListItem cm:GlobalResourceKey="AL" Text="[NOT LOCALIZED]" Value="AL" />
	<ListItem cm:GlobalResourceKey="AK" Text="[NOT LOCALIZED]" Value="AK" />
	<ListItem cm:GlobalResourceKey="AS" Text="[NOT LOCALIZED]" Value="AS" />
	<ListItem cm:GlobalResourceKey="AR" Text="[NOT LOCALIZED]" Value="AR" />
	<ListItem cm:GlobalResourceKey="AZ" Text="[NOT LOCALIZED]" Value="AZ" />
	<ListItem cm:GlobalResourceKey="CA" Text="[NOT LOCALIZED]" Value="CA" />
	<ListItem cm:GlobalResourceKey="CO" Text="[NOT LOCALIZED]" Value="CO" />
	<ListItem cm:GlobalResourceKey="CT" Text="[NOT LOCALIZED]" Value="CT" />
	<ListItem cm:GlobalResourceKey="DC" Text="[NOT LOCALIZED]" Value="DC" />
	<ListItem cm:GlobalResourceKey="DE" Text="[NOT LOCALIZED]" Value="DE" />
	<ListItem cm:GlobalResourceKey="FL" Text="[NOT LOCALIZED]" Value="FL" />
	<ListItem cm:GlobalResourceKey="FM" Text="[NOT LOCALIZED]" Value="FM" />
	<ListItem cm:GlobalResourceKey="GA" Text="[NOT LOCALIZED]" Value="GA" />
	<ListItem cm:GlobalResourceKey="GU" Text="[NOT LOCALIZED]" Value="GU" />
	<ListItem cm:GlobalResourceKey="HI" Text="[NOT LOCALIZED]" Value="HI" />
	<ListItem cm:GlobalResourceKey="ID" Text="[NOT LOCALIZED]" Value="ID" />
	<ListItem cm:GlobalResourceKey="IL" Text="[NOT LOCALIZED]" Value="IL" />
	<ListItem cm:GlobalResourceKey="IN" Text="[NOT LOCALIZED]" Value="IN" />
	<ListItem cm:GlobalResourceKey="IA" Text="[NOT LOCALIZED]" Value="IA" />
	<ListItem cm:GlobalResourceKey="KS" Text="[NOT LOCALIZED]" Value="KS" />
	<ListItem cm:GlobalResourceKey="KY" Text="[NOT LOCALIZED]" Value="KY" />
	<ListItem cm:GlobalResourceKey="LA" Text="[NOT LOCALIZED]" Value="LA" />
	<ListItem cm:GlobalResourceKey="MA" Text="[NOT LOCALIZED]" Value="MA" />
	<ListItem cm:GlobalResourceKey="MD" Text="[NOT LOCALIZED]" Value="MD" />
	<ListItem cm:GlobalResourceKey="ME" Text="[NOT LOCALIZED]" Value="ME" />
	<ListItem cm:GlobalResourceKey="MH" Text="[NOT LOCALIZED]" Value="MH" />
	<ListItem cm:GlobalResourceKey="MI" Text="[NOT LOCALIZED]" Value="MI" />
	<ListItem cm:GlobalResourceKey="MN" Text="[NOT LOCALIZED]" Value="MN" />
	<ListItem cm:GlobalResourceKey="MO" Text="[NOT LOCALIZED]" Value="MO" />
	<ListItem cm:GlobalResourceKey="MP" Text="[NOT LOCALIZED]" Value="MP" />
	<ListItem cm:GlobalResourceKey="MS" Text="[NOT LOCALIZED]" Value="MS" />
	<ListItem cm:GlobalResourceKey="MT" Text="[NOT LOCALIZED]" Value="MT" />
	<ListItem cm:GlobalResourceKey="NE" Text="[NOT LOCALIZED]" Value="NE" />
	<ListItem cm:GlobalResourceKey="NH" Text="[NOT LOCALIZED]" Value="NH" />
	<ListItem cm:GlobalResourceKey="NJ" Text="[NOT LOCALIZED]" Value="NJ" />
	<ListItem cm:GlobalResourceKey="NM" Text="[NOT LOCALIZED]" Value="NM" />
	<ListItem cm:GlobalResourceKey="NV" Text="[NOT LOCALIZED]" Value="NV" />
	<ListItem cm:GlobalResourceKey="NC" Text="[NOT LOCALIZED]" Value="NC" />
	<ListItem cm:GlobalResourceKey="ND" Text="[NOT LOCALIZED]" Value="ND" />
	<ListItem cm:GlobalResourceKey="NY" Text="[NOT LOCALIZED]" Value="NY" />
	<ListItem cm:GlobalResourceKey="OH" Text="[NOT LOCALIZED]" Value="OH" />
	<ListItem cm:GlobalResourceKey="OK" Text="[NOT LOCALIZED]" Value="OK" />
	<ListItem cm:GlobalResourceKey="OR" Text="[NOT LOCALIZED]" Value="OR" />
	<ListItem cm:GlobalResourceKey="PA" Text="[NOT LOCALIZED]" Value="PA" />
	<ListItem cm:GlobalResourceKey="PR" Text="[NOT LOCALIZED]" Value="PR" />
	<ListItem cm:GlobalResourceKey="PW" Text="[NOT LOCALIZED]" Value="PW" />
	<ListItem cm:GlobalResourceKey="RI" Text="[NOT LOCALIZED]" Value="RI" />
	<ListItem cm:GlobalResourceKey="SC" Text="[NOT LOCALIZED]" Value="SC" />
	<ListItem cm:GlobalResourceKey="SD" Text="[NOT LOCALIZED]" Value="SD" />
	<ListItem cm:GlobalResourceKey="TN" Text="[NOT LOCALIZED]" Value="TN" />
	<ListItem cm:GlobalResourceKey="TX" Text="[NOT LOCALIZED]" Value="TX" />
	<ListItem cm:GlobalResourceKey="UT" Text="[NOT LOCALIZED]" Value="UT" />
	<ListItem cm:GlobalResourceKey="VA" Text="[NOT LOCALIZED]" Value="VA" />
	<ListItem cm:GlobalResourceKey="VI" Text="[NOT LOCALIZED]" Value="VI" />
	<ListItem cm:GlobalResourceKey="VT" Text="[NOT LOCALIZED]" Value="VT" />
	<ListItem cm:GlobalResourceKey="WA" Text="[NOT LOCALIZED]" Value="WA" />
	<ListItem cm:GlobalResourceKey="WI" Text="[NOT LOCALIZED]" Value="WI" />
	<ListItem cm:GlobalResourceKey="WV" Text="[NOT LOCALIZED]" Value="WV" />
	<ListItem cm:GlobalResourceKey="WY" Text="[NOT LOCALIZED]" Value="WY" />
</ListItems>
