<?xml version="1.0" encoding="utf-8" ?>
<SocialNetworks xmlns:cm="urn:schemas-marykay-com:config">
  <SocialNetwork 
    Type="Facebook" 
    Url="http://facebook.com/"
    Icon="~/content/images/socialnetworks/icon_facebook.png"
    Tooltip="SOCIALNETWORK_FACEBOOK"
    Placeholder="http://facebook.com/username"
    Validation="^http(s{0,1})\:\/\/(www\.){0,1}facebook.com\/.+$"
    cm:sub="US;KZ;CH;DE;NL;ES"
  />
  <SocialNetwork
    Type="Twitter"
    Url="http://twitter.com/"
    Icon="~/content/images/socialnetworks/icon_twitter.png"
    Tooltip="SOCIALNETWORK_TWITTER"
    Placeholder="http://twitter.com/username"
    Validation="^http(s{0,1})\:\/\/(www\.){0,1}twitter.com\/.+$"
    cm:sub="US;KZ;CH;DE;NL;ES"
  />
  <SocialNetwork
  Type="Google"
  Url="http://plus.google.com/"
  Icon="~/content/images/socialnetworks/icon_googleplus.png"
  Tooltip="SOCIALNETWORK_GOOGLEPLUS"
  Placeholder="http://plus.google.com/username"
  Validation="^http(s{0,1})\:\/\/.+$"
  cm:sub="CH;DE;NL;ES"
  />
  <SocialNetwork
    Type="VK"
    Url="http://vk.com/"
    Icon="~/content/images/socialnetworks/icon_vkontakte.png"
    Tooltip="SOCIALNETWORK_VK"
    Placeholder="http://vk.com/username"
    Validation="^http(s{0,1})\:\/\/(www\.){0,1}vk.com\/.+$"
    cm:sub="KZ"
  />
  <SocialNetwork
    Type="Other"
    Url=""
    Tooltip="SOCIALNETWORK_OTHER"
    Icon="~/content/images/socialnetworks/icon_other.png"
    Validation="^http(s{0,1})\:\/\/.+$"
  />
</SocialNetworks>