<?xml version="1.0" encoding="utf-8" ?>
<TopicsOfInterest xmlns:cm="urn:schemas-marykay-com:config-manager-2">
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_BECOMINGBC" Description="[NL]Becoming a Beauty Consultant" Value="BecomingABeautyConsultant" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_MENSPRODUCTS" Description="[NL]Men's Products" Value="MensProducts" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_EXCLUSIVEOFFERS" Description="[NL]Exclusive Offers" Value="ExclusiveOffers" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_EARNINGHOSTESSREWARDS" Description="[NL]Earning Hostess Rewards" Value="EarningHostessRewards" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_COLORAPPTECHNIQUES" Description="[NL]Color Application Techniques" Value="ColorApplicationTechniques" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_WEDDINGSERVICES" Description="[NL]Wedding Services" Value="WeddingServices" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_NEWFASHIONTRENDS" Description="[NL]New Fashion Trends" Value="NewFashionTrends" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_GIFTGIVINGSERVICES" Description="[NL]Gift-giving Services" Value="GiftGivingServices" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_NEWPRODUCTS" Description="[NL]New Products" Value="NewProducts" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_SKINCARE" Description="[NL]Skin Care" Value="SkinCare" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_BODYCARE" Description="[NL]Body Care" Value="BodyCare" />
		<TopicOfInterest TopicDescriptionResourceKey="ADDCUSTOMER_INTERESTS_FRAGRANCE" Description="[NL]Fragrance" Value="Fragrance" />
</TopicsOfInterest>