<?xml version="1.0" encoding="utf-8" ?> 
<UploadedCustomerGenerator xmlns:cm="urn:schemas-marykay-com:config-manager-2">	
	<ContactInformation>
		<FirstName ColumnNames="First Name" />
		<MiddleName ColumnNames="Middle Name" />
		<LastName ColumnNames="Last Name" />
		<Employer ColumnNames="Company" />
		<Occupation ColumnNames="Job Title" />
	</ContactInformation>
	<Addresses>
		<Address AddressType="Business">
			<AddresseeFirstName ColumnNames="First Name" />
			<AddresseeLastName ColumnNames="Last Name" />
			<Street ColumnNames="Business Street,Business Address PO Box" />
			<UnitNumber ColumnNames="Business Street 2" />
			<City ColumnNames="Business City" />
			<Region ColumnNames="Business State" />
			<Country ColumnNames="Business Country,Business Country/Region" />
			<PostalCode ColumnNames="Business Postal Code" />
			<PhoneNumber ColumnNames="Business Phone" />
		</Address>
		<Address AddressType="Home">
			<AddresseeFirstName ColumnNames="First Name" />
			<AddresseeLastName ColumnNames="Last Name" />
			<Street ColumnNames="Home Street,Home Address PO Box" />
			<UnitNumber ColumnNames="Home Street 2" />
			<City ColumnNames="Home City" />
			<Region ColumnNames="Home State" />
			<Country ColumnNames="Home Country,Home Country/Region" />
			<PostalCode ColumnNames="Home Postal Code" />
			<PhoneNumber ColumnNames="Home Phone" />
		</Address>
		<Address AddressType="Other">
			<AddresseeFirstName ColumnNames="First Name" />
			<AddresseeLastName ColumnNames="Last Name" />
			<Street ColumnNames="Other Street,Other Address PO Box" />
			<UnitNumber ColumnNames="Other Street 2" />
			<City ColumnNames="Other City" />
			<Region ColumnNames="Other State" />
			<Country ColumnNames="Other Country,Other Country/Region" />
			<PostalCode ColumnNames="Other Postal Code" />
			<PhoneNumber ColumnNames="Other Phone" />
		</Address>
	</Addresses>
	<EmailAddresses>
		<EmailAddress EmailAddressType="Home">
			<Address ColumnNames="E-mail Address" AcceptedPattern="^[^@]+@([^@.]+\.)+[a-zA-Z]+$" />
		</EmailAddress>
	</EmailAddresses>
	<Notes>
		<Text ColumnNames="Notes" />
	</Notes>
	<PhoneNumbers>
		<PhoneNumber PhoneNumberType="Home">
			<Number ColumnNames="Home Phone" />
		</PhoneNumber>
		<PhoneNumber PhoneNumberType="Mobile">
			<Number ColumnNames="Mobile Phone" />
		</PhoneNumber>
		<PhoneNumber PhoneNumberType="Other">
			<Number ColumnNames="Other Phone" />
		</PhoneNumber>
		<PhoneNumber PhoneNumberType="Work">
			<Number ColumnNames="Business Phone" />
		</PhoneNumber>
	</PhoneNumbers>
	<SpecialOccasions>
		<SpecialOccasion SpecialOccasionType="Anniversary">
			<Date ColumnNames="Anniversary" ParseFormats="M/d/yyyy|M/dd/yyyy|MM/d/yyyy|MM/dd/yyyy" />
		</SpecialOccasion>
		<SpecialOccasion SpecialOccasionType="Birthday">
			<Date ColumnNames="Birthday" ParseFormats="M/d/yyyy|M/dd/yyyy|MM/d/yyyy|MM/dd/yyyy" />
		</SpecialOccasion>
	</SpecialOccasions>
	<Spouse>
		<Name ColumnNames="Spouse" />
	</Spouse>
</UploadedCustomerGenerator>