<?xml version="1.0" encoding="utf-8" ?>
<AppSettings xmlns:cm="urn:schemas-marykay-com:config">
  <add key="GMF.EmailCulture" value="de-CH" />
  <add key="PartialView.EditAddress" value="_EditAddress.NoState" />
  
  <add key="PartialView.DisplayAddress_Razor" value="_DisplayAddress_Razor_NoState" />
  <add key="PartialView.DisplayAddress_KO" value="_DisplayAddress_KO_NoState" />

  <add key="Feature.CustomerList.ShowConfirmationTimePickerInMilitaryTime" value="true" />

  <add key="Feature.EditCustomer.Gender"                  value="false" />
  <add key="Feature.EditCustomer.Spouse"                  value="false" />
  <add key="Feature.EditCustomer.PreferredShoppingMethod" value="false" />
  <add key="Feature.EditCustomer.PlaceOfWork"             value="false" />
  <add key="Feature.EditCustomer.PreferredContactDays"    value="false" />
  <add key="Feature.EditCustomer.EmailSubscriptions"      value="false" />

  <add key="Feature.ExactTarget.SuscriptionManagement" value="true" />
  <add key="Feature.ExactTarget.DoubleOptIn" value="true" />

  <add key="Feature.Footer.Links" value="false" />

  <add key="Feature.InTouch.Search"      value="false" />
  <add key="Feature.InTouch.ShoppingBag" value="false" />
  <add key="Feature.InTouch.Profile"     value="false" />
  <add key="Feature.InTouch.Help"        value="false"  />
  <add key="Feature.Local.Help"          value="true"  />

  <add key="Feature.Orders.GiftMessage" value="false" />

  <add key="Feature.ShowRegionWithAddress" value="false" />

  <add key="ImageMaxSize" value="4" />

  <add key="CookieDomain"	value=".marykayintouch.ch" />

  <!-- ========== Pilot Settings ============= -->
  <add key="Pilot.StartDate"	value="06/13/2013" />
  <add key="Pilot.EndDate"	value="06/16/2013" />
  <add key="Pilot.Role"		value="eSuitePilotUser" />

  <!-- 
    the ISO 3166-1 two-letter region code that denotes the region that 
    we are expecting phone numbers to be entered in
    http://code.google.com/p/libphonenumber/
    -->
  <add key="Globalization.PhoneRegion" value="CH" />
  <add key="Globalization.CurrencyFormat" value="SFr. {0:n2}" />
  <add key="Globalization.CurrencyFormatClient" value="SFr. {0:n2}" />
  <add key="Globalization.CurrencySymbol" value="SFr." />
  <add key="Globalization.UICultures" value="de-CH" />
  <add key="Globalization.FormatFullDayMonthDate" value="dddd, d. MMMM" />

  <add key="ProductCatalog.CatalogName" value="MaryKay_CH" />

  <add key="ProductCatalog.BaseImageUrl" cm:env="Local,Development" value="//esuite.ch.eurdev.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="QA"                value="//esuite.ch.eurqa.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="Staging"           value="//esuite.ch.eurstg.mktest.com" />
  <add key="ProductCatalog.BaseImageUrl" cm:env="Production"        value="//beta.marykay.ch" />

  <add key="CustomerProfile.PreferredLanguages" value="de-CH" />

  <!-- Questionnaire config -->
  <add key="QuestionnaireID" value="8A3AE858-6BEB-4E0A-B92F-E6D49AB79935" />

  <!-- ========== Base url for profile questionnaire images ============ -->
  <add key="Questionnaire.ImageRootUrl" cm:env="Local,Development" value="//esuite.ch.eurint.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="QA"                value="//esuite.ch.eurqa.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Staging"           value="//esuite.ch.eurstg.mktest.com/" />
  <add key="Questionnaire.ImageRootUrl" cm:env="Production"        value="//beta.marykay.ch/" />

  <!-- ========== Facebook Settings ============ -->
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Local"        value="http://localhost:8002/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Development"  value="http://dev.esuite.marykayintouch.ch/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="QA"           value="http://qa.esuite.marykayintouch.ch/myCustomers/customers/import" />" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Staging"      value="http://staging.esuite.marykayintouch.ch/myCustomers/customers/import" />
  <add key="FacebookFriendsMVCCallbackUrl"		cm:env="Production"   value="http://esuite.marykayintouch.ch/myCustomers/customers/import" />

  <add key="FormattedLocale_CityPostalCode" value="{1} {0}" />
  
  <!-- ========== VMO Settings ============= -->
  <add key="VMORoot" cm:env="Local,Development,QA,Staging" value="//marykay-stage.ai-media.com/makeover/index.jsp" />
  <add key="VMORoot" cm:env="Production"                   value="//makeover.marykay.com/makeover/index.jsp" />

  <add key="VMOPWSRoot" cm:env="Local,Development" value="esuite.ch.eurint.mktest.com/" />
  <add key="VMOPWSRoot" cm:env="QA"                value="esuite.ch.eurqa.mktest.com" />
  <add key="VMOPWSRoot" cm:env="Staging"           value="esuite.ch.eurstg.mktest.com" />
  <add key="VMOPWSRoot" cm:env="Production"        value="esuite.ch.eurdmz.com" />

  <add key="CustomerVMOProjectKey" value="8" />

  <!-- Use full urls for login because https is required in some cases -->
  <add key="InTouch.LoginUrl" cm:env="Development" value="http://dev.marykayintouch.ch/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="QA"          value="http://qa.marykayintouch.ch/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Staging"		 value="http://uat.marykayintouch.ch/login/login.aspx" />
  <add key="InTouch.LoginUrl" cm:env="Production"	 value="https://www.marykayintouch.ch/login/login.aspx" />

  <add key="InTouch.BaseUrl"	cm:env="Local,Development" value="http://dev.marykayintouch.ch" />
  <add key="InTouch.BaseUrl"	cm:env="QA"                value="http://qa.marykayintouch.ch" />
  <add key="InTouch.BaseUrl"	cm:env="Staging"		       value="http://uat.marykayintouch.ch" />
  <add key="InTouch.BaseUrl"	cm:env="Production"	       value="http://www.marykayintouch.ch" />

  <add key="InTouch.Search"      value="/community/search/default.aspx" />
  <add key="InTouch.ShoppingBag" value="/onlineordering/templatelist.aspx" />
  <add key="InTouch.Profile"     value="/community/profile/password.aspx" />

  <add key="Local.en.Help"        value="~/Resources/Content/Help.en.pdf" />
  <add key="Local.de.Help"        value="~/Resources/Content/CH/Help.de.pdf" />

  <add key="InTouch.SiteMap"     value="/community/pages/sitemap.aspx" />
  <add key="InTouch.Terms"       value="/community/pages/termsofuse.aspx" />
  <add key="InTouch.Contact"     value="/community/pages/contactus.aspx" />
  <add key="InTouch.FAQ"         value="/community/pages/faq_main.aspx" />
  <add key="InTouch.Logout"      value="/login/logout.aspx" />

  <add key="GMF.InTouchDomain" cm:env="Local,Development"  value="dev.marykayintouch.ch" />
  <add key="GMF.InTouchDomain" cm:env="QA"                 value="qa.marykayintouch.ch" />
  <add key="GMF.InTouchDomain" cm:env="Staging"            value="uat.marykayintouch.ch" />
  <add key="GMF.InTouchDomain" cm:env="Production"         value="www.marykayintouch.ch" />

  <add key="GMF.PWSDomain" cm:env="Local,Development"  value="esuite.ch.eurint.mktest.com" />
  <add key="GMF.PWSDomain" cm:env="QA"                 value="esuite.ch.eurqa.mktest.com" />
  <add key="GMF.PWSDomain" cm:env="Staging"            value="esuite.ch.eurstg.mktest.com" />
  <add key="GMF.PWSDomain" cm:env="Production"         value="beta.marykay.ch" />

  <add key="GMF.EmailContentDomain" value="ET_{0}_Cust" />
  <add key="GMF.OptInInviteContentId" value="CustomerOptInInvite.{0}" />
  <add key="GMF.InviteToRegisterContentId" value="InviteToRegister.{0}" />

  <!-- Exact Target -->
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="Local,Development" value="//pages.exacttarget.com/ch/customer/subscriptions_dev/" />
  <add key="ExactTarget.SubscriptionManagementRootUrl" cm:env="QA,Staging,Production" value="//pages.exacttarget.com/ch/customer/subscriptions/" />

  <add key="ExactTarget.CustomerPassPhrase" cm:env="Local,Development" value="13815F7s" />
  <add key="ExactTarget.CustomerPassPhrase" cm:env="QA,Staging,Production" value="80J5CtT5" />

  <!-- ========== invoice ============ -->
  <add key="Order_InvoiceReceipt_NumberFormatCulture" value="de-CH" />
  <add key="InvoiceDateFormat" value="dd.MM.yyyy" />
  <add key="InvoiceCurrencySymbol" value="SFr." />
  <add key="SystemTimeZoneId" value="W. Europe Standard Time" />
  <add key="FormattedLocale_CityPostalCode" value="{1} {0}" />
  <add key="ShortDateFormat" value="dd.MM" />

  <!-- ========== Product Image Settings ============ -->
  <add key="ProductImageBaseUrl" cm:env="Local,Development" value="http://esuite.ch.eurdev.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="QA"                value="http://esuite.ch.eurqa.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Staging"           value="http://esuite.ch.eurstg.mktest.com" />
  <add key="ProductImageBaseUrl" cm:env="Production"        value="http://beta.marykay.ch" />


  <!-- ========== Onmiture Settings ============= -->
  <add key="Omniture.EnvironmentDomain" cm:env="Local,Development,QA,Staging" value="marykayswitzerlandcommunitydev" />
  <add key="Omniture.EnvironmentDomain" cm:env="Production" value="marykayswitzerlandcommunity" />
  <add key="Omniture.Channel" value="mycustomers" />
  <!--Must be a valid ISO 4217 currency code.-->
  <add key="Omniture.CurrencyCode" value="CHF"/>

</AppSettings>