<div class="tab-pane customerdetail-tab-pane-padding" id="customerinfotab" data-bind="css: { active: $root.currentTab() == 'customerinfotab' }">
  @Html.Partial("_CustomerInformation")
  @Html.Partial("_CustomerProfile")
</div>