<script id="progressModalTemplate" type="text/html">
  <div class="modal-body" style="text-align:center">
    <h4 data-bind="html:message"></h4>
    <div id="progressbar" class="progress progress-striped active"></div>
  </div>
</script>

<div id="progressModal" style="display:none;" class="modal"></div>