<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_LASTNAME")</label>
  <div class="controls">
    <input maxlength="50" data-bind="value: lastName, showValidationFor: lastName, valueUpdate: 'keyup'" type="text" />
  </div>
</div>

<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_FIRSTNAME")</label>
  <div class="controls">
    <input maxlength="50" data-bind="value: firstName, showValidationFor: firstName, valueUpdate: 'keyup'" type="text" />
  </div>
</div>

<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_MIDDLENAME")</label>
  <div class="controls">
    <input maxlength="50" data-bind="value: middleName, showValidationFor: middleName, valueUpdate: 'keyup'" type="text" />
  </div>
</div>
