<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_GENDER")</label>
  <div class="controls">
    <select data-bind="value: gender" class="input-medium">
      <option value="Female">@Resources.GetString("GENDER_FEMALE")</option>
      <option value="Male">@Resources.GetString("GENDER_MALE")</option>
    </select>
  </div>
</div>
