<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_OCCUPATION")</label>

  <div class="controls">
    <input maxlength="50" data-bind="value: occupation"type="text" />
  </div>
</div>
