<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_PLACEOFWORK")</label>
  <div class="controls">
    <input maxlength="120" data-bind="value: employer" type="text" placeholder="@Resources.GetString("ADDCUSTOMER_PLACEOFWORK_PLACEHOLDER")" />
  </div>
</div>
