<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_PROFILE_DATE")</label>

  <div class="controls">
    <input type="text" maxlength="10" class="input-small" placeholder="@Resources.GetString("PLACEHOLDER_DATE")" data-bind="datepicker: profileDateUtc, showValidationFor: profileDateUtc" />
  </div>
</div>
