<div class="control-group">
  <label class="control-label">@Resources.GetString("ADDCUSTOMER_PROFILE_QUESTIONS")</label>

  <div class="controls">
    <div class="accordion" data-bind="template: { name: 'profileQuestionGroup', foreach: profileQuestionGroups, as: 'group' }"></div>
  </div>
</div>
